<!DOCTYPE HTML>
<html>
	<head th:fragment="header"> 
	    <title>Shopify</title> 
	    <link rel="icon" type="image/png" href="img/icono.png">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/inicio.css">
	    <link rel="stylesheet" href="css/form.css">
	</head>
	<body>
	    
	<div th:fragment="search" class="container__header">
    	<div class="logo lados"><a href="inicio">SHOPIFY</a></div>
		    <div class="search">
		        <div class="container__search">
		            <input placeholder="Busca tu producto.." class="search__input" />
		            <button class="search_button">
		                <img height="25" src="img/lupa.png" />
		            </button>
		        </div>
		    </div>
	    <div class="carrito lados">
	        <div class="container__carrito">
	            <div class="carrito__icono">
	                <p>1</p>
	            </div>
	            <div class="carrito__info">
	                <p>Carrito:</p>
	            </div>
	        </div>
	    </div>
	</div>

	    
	</body>
</html>