<!DOCTYPE HTML>
<html>

<head>
</head>

<body>
	<div th:fragment="nav" class="container__nav">
		<a href="/Producto" class="item__navigation">
			M. PRODUCTOS
		</a>
		<a href="/listarProveedor" class="item__navigation">
			M. PROVEEDOR
		</a>
		<a href="/listarCategoria" class="item__navigation">
			M. CATEGORIAS
		</a>
		<a href="/listarUsurio" class="item__navigation">
			M. CLIENTES
		</a>
		<a href="/listarTusuario" class="item__navigation">
			M. TIPOCLIENTE
		</a>
	</div>
</body>

</html>