<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div style="margin-left: 20%; width: 60%;">
    <br>
   	<br>
      <h1> Mantenimiento de Categorias </h1>
       <br>
     <form action="/grabarTusuario" method="post" th:object="${tusuario}">
         
         <!--  <form action="/grabarTipoUsuario" method="post" th:object="${categoriaz}"> -->
          <div class="form-row">
          
            <div class="form-group col-md-5">
              <label>CODIGO</label>
              <input type="number" th:field="*{idtipo}" class="form-control" id="codigo" placeholder="Ingrese Codigo">
			</div>         
          </div>  
                 
                 
          <div class="form-row">
      
            <div class="form-group col-md-5">
              <label>DESCRIPCION</label>
              <input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" placeholder="Ingrese nombre o Descripción">
            </div>
            
          </div>
          
          
         
          <button type="submit" class="btn btn-primary">Registrar</button>
           
          
        </form>
      </div>
      
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>