<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header"> 

 
</head>

<body>
	<div class="container__inicio">
		<div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
		<form action="/grabarProducto" method="post" th:object="${producto}" enctype="multipart/form-data">

			<div class="form-row">

				<div class="form-group col-md-5">
					<label>CODIGO</label>
					<input type="number" th:field="*{id}" class="form-control" id="codigo" placeholder="Ingrese Codigo">
				</div>

				<div class="form-group col-md-5">
					<label for="inputState">POPULAR</label>
					<select id="inputState" class="form-control" th:field="*{popular}">
						<option th:value="-1" th:text="Seleccione..." selected></option>
						<option th:value="1" th:text="True"></option>
						<option th:value="2" th:text="Falso"></option>
					</select>
				</div>

			</div>


			<div class="form-row">

				<div class="form-group col-md-5">
					<label>DESCRIPCION</label>
					<input type="text" th:field="*{descripcion}" class="form-control" id="descripcion"
						placeholder="Ingrese nombre o Descripción">
				</div>

				<div class="form-group col-md-5">
					<label for="inputState">CATEGORIA</label>
					<select id="categoria" class="form-control" th:field="*{idcategoria}">
						<option th:value="-1" th:text="Seleccione..." selected></option>
						<option th:each="c : ${lstCategorias}" th:value="${c.idcategoria}" th:text="${c.descripcion}">
						</option>
					</select>
				</div>

			</div>


			<div class="form-row">

				<div class="form-group col-md-5">
					<label for="inputEmail4">Precio</label>
					<input type="number" th:field="*{precio}" id="precio" class="form-control" step="0.01" min="1"
						placeholder="0.00">
				</div>

				<div class="form-group col-md-5">
					<label for="inputState">PROVEEDOR</label>
					<select id="proveedor" class="form-control" th:field="*{proveedor}">
						<option th:value="-1" th:text="Seleccione..." selected></option>
						<option th:each="p : ${lstProveedor}" th:value="${p.id}" th:text="${p.nombre}"></option>
					</select>
				</div>

			</div>


			<div class="form-row">

				<div class="form-group col-md-5">
					<label>STOCK</label>
					<input type="number" th:field="*{stock_actual}" id="stock" class="form-control" min="1"
						placeholder="0">
				</div>

			</div>


			<div class="form-row">

				<div class="form-group col-md-5">
					<label for="inputEmail4">DESCUENTO</label>
					<input type="number" th:field="*{descuento}" id="descuento" class="form-control" min="0"
						placeholder="0">
				</div>

			</div>

			<div class="form-row">

				<div class="form-group col-md-5">
					<label>IMAGEN</label>
					<input type="file" accept="image/*" class="form-control-file" id="archivoImagen" name="archivoImagen" placeholder="Ingrese Imagen">
					<input type="hidden"  th:field="*{imagen}" id="mainImagen" name="mainImagen"/>
				</div>

			</div>

			<div class="btn-container">
				<a href="/Producto" class="btn btn-cancelar px-5 shadow mb-5 rounded-sm text-white"> Cancelar </a>
				<button type="submit" class="btn btn-guardar px-5 shadow mb-5 rounded-sm text-white">Guardar</button>
			</div>

		</form>
	</div>

</html>