<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"> 
</head>
<body>
<div class="container__inicio">
		<div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
    <div style="margin-left: 20%; width: 60%;">
    <br>
   	<br>
      <h1 class="text-center"> Mantenimiento de Categorias </h1>
       <br>
     <form action="/grabarCategoria" method="post" th:object="${categorias}" >
         
         
          <div class="form-row">
          
            <div class="form-group col-md-5">
              <label>CODIGO</label>
              <input type="number" th:field="*{idcategoria}" class="form-control" id="categoria" placeholder="Ingrese Codigo">
			</div>         
          
            <div class="form-group col-md-5">
              <label>DESCRIPCION</label>
              <input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" placeholder="Ingrese nombre o Descripción">
            </div>
            
          </div>
          
         <div class="btn-container">
          <a href="/listarCategoria" class="btn btn-cancelar px-5 shadow mb-5 rounded-sm text-white"> Cancelar </a>
          <button type="submit" class="btn btn-guardar px-5 shadow mb-5 rounded-sm text-white"> Guardar </button>
         </div>
        </form>
      </div>
	</div>
      
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>