<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"> 
    <title>Getting Started: Serving Web Content</title> 
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container__inicio">
		<div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
    <div style="margin-left: 20%; width: 60%;">
    <br>
   	<br>
      <h1> Mantenimiento de Usuarios </h1>
       <br>
     <form action="/grabarUsuario" method="post" th:object="${usuario}" >
         
          <div class="form-row">
          
            <div class="form-group col-md-5">
              <label>CODIGO</label>
              <input type="number" th:field="*{id}" class="form-control" id="codigo" placeholder="Ingrese Codigo">
			</div>       
			<div class="form-group col-md-5">
              <label>NOMBRE</label>
              <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingrese nombre">
            </div>
              
          </div>  
                 
                
          <div class="form-row">
      
            <div class="form-group col-md-5">
              <label>APELLIDO</label>
              <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Ingrese apellido">
            </div>
            <div class="form-group col-md-5">
              <label>USUARIO</label>
              <input type="text" th:field="*{usr_usua}" class="form-control" id="usu" placeholder="Ingrese Usuario">
            </div>
            
          </div>
          
          <div class="form-row">
      
            <div class="form-group col-md-5">
              <label>PASSWORD</label>
              <input type="text" th:field="*{pswrd}" class="form-control" id="password" placeholder="Ingrese clave">
            </div>
            <div class="form-group col-md-5">
              <label>FECHA</label>
              <input type="text" th:field="*{fecha_nac}" class="form-control" id="fecha" placeholder="Ingrese fecha">
            </div>
            
          </div>
          
           <div class="form-row">
      
            <div class="form-group col-md-5">
              <label for="inputState">TIPO</label>
              <select id="proveedor" class="form-control" th:field="*{idtipo}" >
              <option th:value="-1" th:text="Seleccione..." selected></option>
              <option th:each="t : ${lstTipoUsuario}"
 					  th:value="${t.idtipo}"
 					  th:text="${t.descripcion}"           
              ></option>              
              </select>
            </div>
          <div class="form-group col-md-5">
              <label for="inputState">POPULAR</label>
              <select id="inputState" class="form-control" th:field="*{estado}" >
                <option th:value="-1" th:text="Seleccione..." selected ></option>          
                <option th:value="1" th:text="True"></option>
                <option th:value="2" th:text="Falso"></option> 
              </select>
            </div>
           
          </div>
         <a href="/listarUsurio" class="btn-cancelar">Cancelar</a>
          <button type="submit" class="btn-guardar">Guardar</button>
           
          
        </form>
      </div>
      
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>