<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br>
	<h1>Menú de opciones</h1>
	<br>
    <p><a href="/cargarProducto">Mantenimiento de Productos</a></p>
    <br>
    <p><a href="/cargarProveedor">Mantenimiento de Proveedor</a></p>
    <br>
    <p><a href="/cargarCategoria">Mantenimiento de Categorias</a></p>
    <br>
	<p><a href="/cargarUsuario">Mantenimiento de Usuarios</a></p>
     <br>
	<p><a href="/cargarTusuario">Mantenimiento de Tipo Usuarios</a></p>
     <br>
	<p><a href="/login">Login</a></p>
     <br>
	<p><a href="/register">Registro</a></p>    
     <br>
	<p><a href="/inicio">Inicio</a></p>    
    
    
</body>
</html>