<!DOCTYPE html>
<html>

<head th:replace="fragments/header::header"></head>
<body>

    <div id="container__inicio">
        <div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
        <div class="container__body">
            <div th:fragment="banners" class="body__banner">
                <div class="Seccion__Categorias">
                    <div><a>CATEGORÍAS</a></div>
                    <div><a>GAMING</a></div>
                    <div><a>FUNKO</a></div>
                    <div><a>COLECCIONABLES</a></div>
                    <div><a>MONITORES</a></div>
                </div>
                <div class="Seccion__Banner">
                    <div>
                        <img src="img/banner-1.jpg">
                    </div>
                </div>
            </div>
            <div class="division">
                <h1>NOVEDADES</h1>
            </div>
            <div class="body__items">
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>

                <!-- ELIMINAR LO DE ABAJO SI QUIEREN :v-->
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>
                <div class="container__items">
                    <div class="item">
                        <img src="img/juego.jpg">
                        <p>S/. 209.90</p>
                    </div>
                    <button>añadir carrito</button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>