<!DOCTYPE html>
<html>

<head th:replace="fragments/header::header"></head>

<body>

	<div id="container__inicio">
		<div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
		<div class="container__body">
			<div th:fragment="banners" class="body__banner">
				<div class="Seccion__Categorias">
					<div th:each="c : ${listCateg}">
						<a th:href="|/buscar?id=${c.idcategoria}|" th:text="${c.descripcion}"></a>
					</div>
				</div>
				<div id="carousel__banner" class="carousel slide carousel-fade" data-bs-ride="carousel"
					style="width: 100%;">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/banner-1.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="img/banner-2.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="img/banner-3.jpg" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carousel__banner"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carousel__banner"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="division">
				<h1>NOVEDADES</h1>
			</div>
			<div class="body__items">
				<div class="container__items" th:each="p : ${listProd}">
					<div class="item">
						<img th:src="${p.imagen}" alt="Not Found" />
						<p th:text="|S/. ${p.precio}|"></p>
					</div>
					<button>añadir carrito</button>
				</div>

				<!-- ELIMINAR LO DE ABAJO SI QUIEREN :v-->

			</div>
		</div>
	</div>

</body>

</html>