<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"> 
    <title>Getting Started: Serving Web Content</title> 
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container__inicio">
	<div th:replace="fragments/header::search"></div>
	<div th:replace="fragments/navigation::nav"></div>
<br>
    <div style="margin-left: 20%; width: 60%;">
      <h1> Listado de Proveedor </h1>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Estado</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="p : ${lstProveedor}">
    <td th:text="${p.id}"></td>
      <td th:text="${p.nombre}"></td>
      <td th:text="${p.descripcion}"></td>
      <td th:text="${p.estado}"></td>
  
        
        <td>
        <form action="/editarProveedor" method="post">
        <input type="hidden" name="id" th:value="${p.id}">
        <button type="submit" class="btn btn-info">Editar</button>
        </form>
        </td>
        <td>
        <a href="/cargarProveedor" class="btn btn-info">Crear</a></p>
        </td>
    </tr>
    
  
  </tbody>
</table>
    </div>
    
  
</body>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>