<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"> 
    <title>Getting Started: Serving Web Content</title> 
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container__inicio">

		<div th:replace="fragments/header::search"></div>
		<div th:replace="fragments/navigation::nav"></div>
<br>
    <div style="margin-left: 20%; width: 60%;">
      <h1> Listado de Usuario</h1>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Usuario</th>
      <th scope="col">Password</th>
      <th scope="col">Fecha_nac</th>
       <th scope="col">Tipo</th>
      <th scope="col">Estado</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="u : ${lstUsuario}">
    <td th:text="${u.id}"></td>
      <td th:text="${u.nombre}"></td>
      <td th:text="${u.apellido}"></td>
      <td th:text="${u.usr_usua}"></td>
      <td th:text="${u.pswrd}"></td>
       <td th:text="${u.fecha_nac}"></td>
        <td th:text="${u.idtipo}"></td>
        <td th:text="${u.estado}"></td>
 
        <td>
        <form action="/editarUsuario" method="post">
        <input type="hidden" name="id" th:value="${u.id}">
        <button type="submit" class="btn btn-info">Editar</button>
        </form>
        </td>
    </tr>
    
  
  </tbody>
</table>
    </div>
    
  
</body>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>