<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div id="container">
        <form class="form__template" action="/validated-login" method="post" th:object="${usuario}">
            <h1>INICIAR SESIÓN</h1>
            <input type="text" placeholder="USUARIO" id="user" th:field="*{user}">
            <input type="password" placeholder="CONTRASEÑA" id="pswrd" th:field="*{pswrd}">
            <button type="submit">Login</button>
            <p class="message__error" th:text="${mensaje}"></p>
            <p>¿Eres nuevo? regístrate <a href="/register">aquí</a></p>
        </form>
    </div>

</body>
</html>