<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div id="container">
        <div class="form__template register__template">
            <h1>REGISTRAR</h1>
            <input type="text" placeholder="NOMBRE">
            <input type="text" placeholder="APELLIDO">
            <input type="text" placeholder="USUARIO">
            <input type="password" placeholder="CONTRASEÑA">
            <input type="date" placeholder="FECHA NACIMIENTO">
            <button>Registrar</button>
            <p>¿Ya tienes una cuenta? inicia sesión <a href="/login">aquí</a></p>
        </div>
    </div>

</body>
</html>